<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title Leo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <div id="react"></div>

    <script src="/built/bundle.js" type="application/javascript"></script>
</body>
</html>